* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #143329;
  font-family: ‘Open Sans’, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
/*ajustes nas setas e bolinha do card de imagens em item view*/

/* Estiliza as bolinhas da paginação */
.swiper-pagination-bullet {
  background-color: #143329 !important; /* Cor das bolinhas */
  width: 12px;
  height: 12px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #143329 !important; /* Cor da bolinha ativa */
}

.slick-prev:before,
.slick-next:before {
  color: #143329 !important;
  font-size: auto !important; /* Ajuste o tamanho da seta */
}

/* Cor das bolinhas (indicadores) */
.slick-dots li button:before {
  color: #143329 !important; /* Mude para a cor desejada */
  font-size: 12px; /* Ajuste o tamanho da bolinha */
}

/* Cor da bolinha ativa */
.slick-dots li.slick-active button:before {
  color: #143329 !important; /* Cor diferente para a bolinha ativa */
}
